@import "variaveis";
@import "mixins";
.hero-bg {
    background-image: url("../img/Rectangle.png");
    background-size: cover;
    padding-top: 8rem;
    .hero {
        display: flex;
        .hero-box1 {
            h3 {
                color: $--white;
                margin-bottom: 3.1rem;
            }
            h1 {
                color: white;
                width: 68.2rem;
                margin-bottom: 4.2rem;
            }
            a {
                margin-bottom: 5.9rem;
            }
            .hero-ul {
                display: flex;
                gap: 5.9rem;
                margin-bottom: 13.5rem;
                @include flex(row, center, flex-start);
                li {
                    display: flex;
                    align-items: center;
                    gap: 1.2rem;
                    .s1 {
                        max-width: 8.8rem;
                    }
                    .s2 {
                        max-width: 10.1rem;
                    }
                    .s3 {
                        max-width: 12.7rem;
                    }
                    span {
                        color: $--white;
                    }
                }
            }
        }
        .hero-box2 {
            flex-grow: 1;
            text-align: right;
            h2 {
                font-weight: 600;
                font-size: 5.6rem;
                line-height: 84px;
                letter-spacing: -2px;
                color: rgba(255, 255, 255, 0.4);
            }

            .hero-vector {
                width: 66.3rem;
                margin-top: 15.5rem;
                margin-left: auto;
                margin-right: auto;
                overflow: hidden;
                float: right;
                position: relative;
                bottom: -35px;
            }
        }
    }
}
