@import "variaveis";
@import "mixins";
.hero-bg {
    background-image: url("../img/Rectangle.png");
    background-size: cover;
    padding-top: 80px;
    box-shadow: inset 0px -60px #ffffff;
    .hero {
        display: flex;
        margin-top: 84px;
        .hero-box1 {
            width: 100%;
            max-width: 684px;
            margin-bottom: 135px;
            h3 {
                color: rgba(255, 255, 255, 0.8);
                font-weight: 600;
                line-height: 120%;
                letter-spacing: -0.05rem;
                margin-bottom: 32px;
            }
            h1 {
                color: $--white;
                margin-bottom: 39px;
            }

            a {
                margin-bottom: 64px;
            }
            .hero-ul {
                display: flex;
                gap: 59px;
                li {
                    display: flex;
                    gap: 12px;
                    span {
                        color: $--white;
                    }
                }
            }
        }
        .hero-box2 {
            width: 100%;
            max-width: 663px;
            margin-right: -106px;
            text-align: center;
            h2 {
                font-weight: 600;
                font-size: 56px;
                line-height: 84px;
                color: rgba(255, 255, 255, 0.4);
            }
            .hero-img {
                width: 663px;
                height: 481px;
                margin-top: 95px;
                position: relative;
                .img-vector1 {
                    width: 553px;
                    float: right;
                }
                .img-vector2 {
                    width: 43.827rem;
                    position: absolute;
                    top: 13px;
                    left: 0;
                    z-index: 1;
                }
                .img-vector3 {
                    width: 35.295rem;
                    position: absolute;
                    top: 144px;
                    right: 43px;
                }
            }
        }
    }
}
