h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 6.4rem;
    line-height: 112%;
    letter-spacing: -1px;
}

h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 4rem;
    line-height: 112%;
    letter-spacing: -1px;
}

h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 150%;
    letter-spacing: -0.5px;
}

h4 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 2rem;
    line-height: 112%;
    letter-spacing: -0.5px;
}

.p18 {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 150%;
}

.p16 {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 150%;
}

.p14 {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 150%;
}
