$--brand-blue: #0073ce;
$--brand-light-blue: #00a5f0;
$--brand-green-light: #00d7d7;
$--brand-yellow: #ffc800;
$--brand-gradient: linear-gradient(99.31deg, #00a5f0 7.94%, #00d7d7 95.32%);
$--Grey-600: #33303e;
$--Grey-500: #4e4b59;
$--Grey-400: #5f5c6b;
$--Grey-300: #7a7786;
$--Grey-200: #c6c5ce;
$--Grey-100: #f1f0f5;
$--white: #ffffff;
